.client-container {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-gap: 50px;
    /* border: 3px solid red; */
    height: 250px;

}

.client-image img {
    width: 380px;

}

.client-image {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid slateblue;
    border-left: 1px solid slateblue;
    border-top-left-radius: 30px;

}

.client-detail {
    /* border: 1px solid blue; */
    background-color: slateblue;
    color: white;
    padding: 10px;
    border-bottom-right-radius: 30px;

}