.nav-container a {
    text-decoration: none;
    margin-right: 50px;
    font-size: 25px;
    color: slateblue;

}

.nav-container {
    border-bottom: 1px solid slateblue;
    text-align: center;
    padding: 10px;
    height: 80px;

    /* background-color: rgb(233, 232, 229); */
}



.nav-container a:hover {
    background-color: slateblue;
    color: white;
    border-radius: 3px;
    padding: 3px;
}

@media screen and (max-width:600px) {
    .nav-container a {
        text-decoration: none;
        margin-right: 10px;
        font-size: 15px;
        color: slateblue;

    }

    .nav-container {
        border-bottom: 1px solid slateblue;
        text-align: center;
        padding: 5px;

        /* background-color: rgb(233, 232, 229); */
    }
}