.nav-container a {
    text-decoration: none;
    margin-right: 50px;
    font-size: 25px;
    color: lightseagreen;

}

.nav-container {
    /* border-bottom: 1px solid lightseagreen; */
    text-align: center;
    padding: 10px;
    line-height: 50px;
    /* background-color: rgb(233, 232, 229); */
}

.nav-container img {
    margin: 10px;
    margin-right: 35px;
}

.nav-container a:hover {
    background-color: lightseagreen;
    color: white;
    border-radius: 3px;
    padding: 3px;
}